body {
    margin: 0;
    padding: 0; 
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

#Greetings{
    margin-top: 10%;
    text-align: center;
}

p{
    font-size: 30px;
    color: white;
    margin: 5px;
}

#hi{
    color:red;
    letter-spacing: 2px;
    font-family: Arial black, sans-serif;
}

#job{
    font-family: "Arial", sans-serif;
}

#name{
    font-size: 70px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer a{
    margin:0 1% 0 1% ;
}

footer img{
    max-width: 45px;
}