body {
    margin: 0;
    padding: 0; 
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

#Greetings{
    margin-top: 10%;
    text-align: center;
}

p{
    font-size: 30px;
    color: white;
    margin: 5px;
}

#hi{
    color:red;
    letter-spacing: 2px;
    font-family: Arial black, sans-serif;
}

#job{
    font-family: "Arial", sans-serif;
}

#name{
    font-size: 70px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer a{
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin:0 1% 1% 1% ;
}

#linkedin {
    background-image: url(../images/linkedin.png);
  }
  
#linkedin:hover {
    background-image: url(../images/linkedin_colored.png);
  }
  


#gmail {
    background-image: url(../images/gmail.png);
  }
  
#gmail:hover {
    background-image: url(../images/gmail_colored.png);
  }



#codeforces {
    background-image: url(../images/codeforces.png);
  }

#codeforces:hover {
    background-image: url(../images/codeforces_colored.png);
  }
  


#github {
    background-image: url(../images/github_reversed.png);
  }

#github:hover {
    background-image: url(../images/github.png);
  }


  
#whatsapp {
    background-image: url(../images/whatsapp.png);
  }
  
#whatsapp:hover {
    background-image: url(../images/whatsapp_colored.png);
  }